OLLAMA_URL=http://localhost:11434
QDRANT_URL=http://localhost:6333
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_KEY=masterKey
LOG_LEVEL=INFO
MAX_UPLOAD_MB=50
MEDITRON_MODEL=meditron
SUMMARY_MODEL=llama3.2
DEVICE=cpu
ENABLE_GPU=false

RADIOLOGY_URL=http://radiology:8101
ECG_URL=http://ecg:8102
EYE_URL=http://eye:8103
CANCER_URL=http://cancer:8104
PATHOLOGY_URL=http://pathology:8105
BRAIN_URL=http://brain:8106
SEGMENTATION_URL=http://segmentation:8107
NLP_URL=http://nlp:8108
DRUG_URL=http://drug:8109
AYURVEDA_URL=http://ayurveda:8110
IMAGING_URL=http://imaging-utils:8111
INDEXER_URL=http://indexer:8112

